<!DOCTYPE html>
<html lang="en" id="here">

<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <title>ETA this week</title>
    <link rel="stylesheet" href="public/style.css">
</head>

<body class="htmlcontent">
  <header>
    <img class="logo" src="views/logo.jpg" alt="Your Logo">
    <h2>ETA TWO WEEKS</h2>
</header>
<body>
    <h1>Hauliers Tracker</h1>
    <table border="1">
        <thead>
            <tr>
                <% Object.keys(data[0]).forEach(function(key) { %>
                    <th><%= key %></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(row) { %>
                <tr>
                    <% Object.values(row).forEach(function(value) { %>
                        <td><%= value %></td>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>