<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moving your business forward</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/public/script.js"></script>
  <script src="/index.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <img class="logo" src="views/logo.jpg" alt="Your Logo">
    <span><div class="moving">Moving your business </div><div class="forward">forward</div></span>
</header>
  <div class="login-page">
    <div class="form">
      
      <form class="register-form" method="POST" action="/registered">
        <input type="text" placeholder="Myname" name="name"/>
        <input type="password" placeholder="password" name="password"/>
        <input type="text" placeholder="info@email.com" name="email"/>
        <input type="text" placeholder="ABC123HV"name="companyCode"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form" method="POST" action="/loggedin">
        <input type="text" placeholder="ABC123HV"name="companyCode"/>
        <input type="text" placeholder="email"name="email"/>
        <input type="password" placeholder="password"name="password"/>
        <button>login</button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
    </div>
  </div>  
</body>
</html>
<script>
  $(document).ready(function() {
    $('.message a').click(function() {
        $('form').animate({
            height: "toggle",
            opacity: "toggle"
        }, "slow");
    });
});
</script>

