@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --blueicl: #2c5fc7;
  --yellowicl: #f5b440;
  --paleblue: #e0f2fa;
}

body, html {
font-family: "Roboto", sans-serif;
margin: 0;
min-width: 520px;
}

/* Header styling */
header {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  text-align: center;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 100%; /* Make logo responsive */
  max-width: 400px; 
  height: auto;
  margin-bottom: 1rem;
}

/* Forms and container styling */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh; /* Adjust based on your header/footer size */

}

.form {
  position: relative;
  background: white;
  max-width: 360px;
  min-width: 300px;
  margin: 20px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
nav{
  background-color: var(--blueicl);
 /* background: linear-gradient(#31414e,#2c3d47, #26343f);*/
  display:flex;
  width: 100%;
  border-radius: 1%;
  flex-direction: row;
  justify-content:flex-end;
  align-items:center;
  margin-block: 0;
  border-bottom: solid var(--yellowicl);
  position:fixed;
  margin:0;
}
nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  list-style-type: none;

 
}

nav  > ul > li
{
font-size: 0.8rem;
padding: 0 0.25rem;

}
nav  > ul > li > a {
  color: white;
  margin: 0rem;
  padding: 0rem;
  font-size: 1rem;
  text-decoration: none;
  display: block;
  box-sizing: inherit;
 
}

button {
	background-color:var(--blueicl) ; 
	border: 1%, solid;
  border-color: var(--blueicl);  
  border-radius: 30px;
	color: white  ; 
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  }

  button:hover{
    background: var(--yellowicl); 
    color: white;
  }


.message {
  margin-top: 15px;
  color: #2c5fc7;
  font-size: small;
}

.message a {
  color: var(--yellowicl);
  text-decoration:double;
}
.form .register-form {
  display: none;
}

.moving {
  text-align: center;
  color: var(--blueicl);
  margin-right: 0.5rem;
  font-weight: 700;
  font-style: italic;
  letter-spacing: .1rem;
  animation: fromleftAnimation  2s ease-in-out;
  animation-fill-mode: backwards;
}

.title {
  text-align: center;
  color: var(--blueicl);
  margin-right: 1vw;
  font-weight: 700;
  font-style: italic;
  letter-spacing: .1rem;
  font-size: 20px;
}

.forward {  
  text-align: center;
  color: var(--yellowicl);
  margin-left: 0.5rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: .1rem;
  animation: fromrightAnimation  2s ease-in-out;
  animation-fill-mode: backwards;
}

.htmlcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:auto;

}
span{
  display: flex;
  flex-direction: row;
}

/* Responsive */
@media (max-width: 768px) {
  .form {
      padding: 20px;
      margin: 10px;
  }

  .login-page {
      padding: 20px;
  }
  
  .Load{
    display:none;
  } 
  .Discharge{
    display:none;
  }
  .Carrier{
    display:none;
  }
  .Supplier{
    display:none;
  }
  .Transit{
    display:none;
  }
  .Supplier {
    display:none;
  }
  .Job {
    display:none;
  }
  .Style {
    display:none;
  }
  .table{
    padding: 2px;
  }
  
}

@media (max-width: 522px) {
  .form {
      width: 90%; /* Makes the form take up more space on smaller screens */
  }
  .Load{
    display:none;
  } 
  .Discharge{
    display:none;
  }
  .Carrier{
    display:none;
  }
  .Supplier{
    display:none;
  }
  .Transit{
    display:none;
  }
  .Style {
    display:none;
  }
  .Supplier {
    display:none;
  }
  .Job {
    display:none;
  }
  .table{
    padding: 2px;
  }

}

/* Style the table */
table {
  border-collapse: collapse; /* It removes the double lines in th midle of the table*/
  margin-bottom: 0 0 0 20px;
  padding: 20px;
  text-align: left;
  max-width: 98vw;
  font-size: 0.875rem;
  flex:1
}

/* Style the table headers */
th {
  background-color: var(--paleblue);
  font-size: auto;
  text-align: left;
  border: 1px solid #ddd;
  padding: 10px 3px ;
  color: var(--blueicl);
}

/* Style the table cells */
td {
  padding: 10px 3px;
  border: 1px solid #ddd;
  font-size: auto;
}

/* Style alternating rows for better readability */
tbody tr:nth-child(even) {
  background-color: var(--paleblue);
}

/* Hover effect on rows */
tbody tr:hover {
  background-color: var(--yellowicl);
}


/* Table sortable style */
.table-sortable th {
	cursor: pointer;
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
	margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: rgba(0, 0, 0, 0.1);
}
/*Animations*/
@keyframes fromleftAnimation {
  from {
    transform: translate(-100%,0%);
  }
  to {
    transform: translate(0%,0%);
  }
}

@keyframes fromrightAnimation {
  from {
    transform: translate(100%,0%);
  }
  to {
    transform: translate(0%,0%);
  }
}